<a href="https://colab.research.google.com/github/Om629/python_assigment/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Flairminds Python Assignment

1.	Write a Python program which accept the radius of a circle from the user and compute the area.

In [ ]:
r = (float (input("enter a redius(in cm)=")))
area=3.14 * r * r
print("area of a circle=",area)

enter a redius(in cm)=23
area of a circle= 1661.06

2.	Write a Python program to calculate number of days between two dates.

In [ ]:
from datetime import date
frist_date = date(2022, 7, 3)
last_date = date(2022, 7, 11)
no_of_days= last_date - frist_date
print(no_of_days.days)

8

3.	Write a Python program to test whether a passed letter is a vowel or not.

In [ ]:
l = input("Enter the character: ")

if l.lower() in ('a', 'e', 'i', 'o', 'u'):
  print("Vowel")

elif l.upper() in ('A', 'E', 'I', 'O', 'U'):
  print("Vowel")

else:
  print("different")

Enter the character: R
different

4.	Write a program to print every character of a string entered by the user in a new line using a loop.

In [ ]:
word = input("Enter a word: ")
for letter in word:
    print(letter)

Enter a word: omkAR
o
m
k
A
R

5.	Python program to check whether a number is Prime or not.

In [ ]:
num = int(input("Enter a number: "))

flag = False

if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break

if flag:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

Enter a number: 54
54 is not a prime number

6.	Python program to Count Even and Odd numbers in a string.

In [ ]:
num = int(input("Enter a no: "))
if (num % 2) == 0:
 print(f"{num}is even no")
else:
 print(f"{num}is odd no")

Enter a no: 416
416is even no

7.	Write a Python program to find the second most repeated word in a given string.

8.	Python program to interchange first and last elements in a list.

In [ ]:
newlist = [1,2,3,4,5,6,7,8]
size = len(newlist) 
temp = newlist[0]
newlist[0] = newlist[size - 1]
newlist[size - 1] = temp
print(newlist)

[8, 2, 3, 4, 5, 6, 7, 1]

9.	How to sort a list in ascending and descending order without using the sort function?

In [ ]:
my_list = [-15, -26, 15, 1, 23, -64, 23, 76]
new_list = []

while my_list:
    min = my_list[0]  
    for x in my_list: 
       if x < min:
            min = x
    new_list.append(min)
    my_list.remove(min)    

print(new_list)

[-64, -26, -15, 1, 15, 23, 23, 76]

10.	Python program to sort Python Dictionaries by Values

In [ ]:
dt = {5:4, 1:6, 6:3}

sorted_dt = {key: value for key, value in sorted(dt.items(), key=lambda item: item[1])}

print(sorted_dt)

{6: 3, 5: 4, 1: 6}

11.	Create a list of tuples from the given list having a number and its cube in each tuple.

In [ ]:
list1 = [1, 2, 5, 6]
 
res = [(val, pow(val, 3)) for val in list1]
 

print(res)

[(1, 1), (2, 8), (5, 125), (6, 216)]

12.	How to extract all numbers between a given range from a NumPy array?

In [ ]:
import numpy as np


numpy_array = np.array([2, 3, 6, 9, 11, 23, 34, 66])


indices = np.where((numpy_array >= 7) & (numpy_array < 11))
print("Indices: ", indices)
print("Elements satisfied the condition: ",numpy_array[indices])

Indices:  (array([3]),)
Elements satisfied the condition:  [9]

13.	How to convert 4D array to 2D array?

17.	Write a program in Python to find prime factors of a given integer

In [ ]:
n=int(input("Enter an integer:"))
print("Factors are:")
i=1
while(i<=n):
    k=0
    if(n%i==0):
        j=1
        while(j<=i):
            if(i%j==0):
                k=k+1
            j=j+1
        if(k==2):

SyntaxError: ignored

18.	Python Program to count the occurrence of each character in string.

In [ ]:
input_string = "hello this is python program "
print("The input string is:", input_string)
mySet = set(input_string)
for element in mySet:
    countOfChar = 0
    for character in input_string:
        if character == element:
            countOfChar += 1
    print("Count of character '{}' is {}".format(element, countOfChar))

The input string is: hello this is python program
Count of character 'h' is 3
Count of character 'l' is 2
Count of character 'm' is 1
Count of character 'i' is 2
Count of character 'n' is 1
Count of character 'a' is 1
Count of character 'o' is 3
Count of character 'e' is 1
Count of character 'p' is 2
Count of character 'y' is 1
Count of character ' ' is 4
Count of character 'r' is 2
Count of character 'g' is 1
Count of character 't' is 2
Count of character 's' is 2

14)

In [ ]:
chairs = range(1,100)
print(list(chairs))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]